{% load static %}

<table>
  <style>
    table {
      width: 100%;
      overflow-x: auto;
    }
    th, td {
      padding: 8px;
      text-align: left;
    }
  </style>
    <thead>
        <tr>
            <th>id</th>
            <th>events</th>
            <th>P_bty</th>
            <th>Q_bty</th>
            <th>R_bty</th>
            <th>S_bty</th>
            <th>Total Score</th>
        </tr>
    </thead>
    <tbody>
        {% for row, score in data %}
        <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.events }}</td>
            <td>{{ row.P_bty }}</td>
            <td>{{ row.Q_bty }}</td>
            <td>{{ row.R_bty }}</td>
            <td>{{ row.S_bty }}</td>
            <td>{{ score }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
