<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Soldier Detail</title>
</head>

<body>
  <h1>Soldier Detail</h1>

  <form method="post" action="http://127.0.0.1:8000/save_soldier_details/">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">


  <table>
    <tr>
      <th>ID</th>
      <td><input type="text" name="ID"></td>
    </tr>
    <tr>
      <th>Name</th>
      <td><input type="text" name="Name"></td>
    </tr>
    <tr>
      <th>DOB</th>
      <td><input type="text" name="DOB"></td>
    </tr>
    <tr>
      <th>DOE</th>
      <td><input type="text" name="DOE"></td>
    </tr>
  <tr>
    <th>CIV EDN</th>
    <td><input type="text" name="CIV EDN"></td>
  </tr>
  <tr>
    <th>Blood Gp</th>
    <td><input type="text" name="Blood_Gp"></td>
  </tr>
  <tr>
    <th>I Card No</th>
    <td><input type="text" name="i_card_no"></td>
  </tr>
  <tr>
    <th>Indl Acct No</th>
    <td><input type="text" name="indl_acct_no"></td>
  </tr>
  <tr>
    <th>Part Order</th>
    <td><input type="text" name="part_order"></td>
  </tr>
  <tr>
    <th>Jt Acct no</th>
    <td><input type="text" name="jt_acct_no"></td>
  </tr>
  <tr>
    <th>Aadhar Card</th>
    <td><input type="text" name="aadhar_card"></td>
  </tr>
  <tr>
    <th>PAN Card</th>
    <td><input type="text" name="pan_card"></td>
  </tr>
  <tr>
    <th>Email Id</th>
    <td><input type="text" name="email_id"></td>
  </tr>
  <tr>
    <th>Mobile No</th>
    <td><input type="text" name="mobile_no"></td>
  </tr>
  <tr>
    <th>FAMILY DETAIL</th>
    <td><input type="text" name="family_detail"></td>
  </tr>
  <tr>
    <th>Father</th>
    <td><input type="text" name="father"></td>
  </tr>
  <tr>
    <th>Mother</th>
    <td><input type="text" name="mother"></td>
  </tr>
  <tr>
    <th>Son</th>
    <td><input type="text" name="son"></td>
  </tr>
  <tr>
    <th>Daughter</th>
    <td><input type="text" name="daughter"></td>
  </tr>
  <tr>
    <th>Home Address</th>
    <td><input type="text" name="home_address"></td>
  </tr>
  <tr>
    <th>Vill/House No</th>
    <td><input type="text" name="vill_house_no"></td>
  </tr>
  <tr>
    <th>Post office</th>
    <td><input type="text" name="post_office"></td>
  </tr>
  <tr>
    <th>Teh</th>
    <td><input type="text" name="teh"></td>
  </tr>
  <tr>
    <th>Police Stn</th>
    <td><input type="text" name="police_stn"></td>
  </tr>
  <tr>
    <th>Dist</th>
    <td><input type="text" name="dist"></td>
  </tr>
  <tr>
    <th>State</th>
    <td><input type="text" name="state"></td>
  </tr>
  <tr>
    <th>Pin Code</th>
    <td><input type="text" name="pin_code"></td>
  </tr>
  <tr>
    <th>Promotion Cadre</th>
    <td><input type="text" name="promotion_cadre"></td>
  </tr>
  <tr>
    <th>Up-Gradation Cadre</th>
    <td><input type="text" name="upgradation_cadre"></td>
  </tr>
  <tr>
    <th>Mil Edn</th>
    <td><input type="text" name="mil_edn"></td>
  </tr>
  <tr>
    <th>Course</th>
    <td><input type="text" name="course"></td>
  </tr>
  <tr>
    <th>Sports</th>
    <td><input type="text" name="sports"></td>
  </tr>
  <tr>
    <th>ERE</th>
    <td><input type="text" name="ere"></td>
  </tr>
  <tr>
    <th>Award</th>
    <td><input type="text" name="award"></td>
  </tr>
  <tr>
    <th>MED</th>
    <td><input type="text" name="med"></td>
  </tr>
  <tr>
    <th>RED Entry</th>
    <td><input type="text" name="red_entry"></td>
  </tr>
  <tr>
    <th>Misc</th>
    <td><input type="text" name="misc"></td>
  </tr>
</table>

    <button type="submit">Save</button>
  </form>
</body>

</html>
